name: BSD CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        operating_system: [ freebsd, netbsd, openbsd ]
        architecture: [ arm64, x86-64 ]
        include:
          - operating_system: freebsd
            version: '14.3'
            pkginstall: sudo pkg update && sudo pkg install -y gmake
          - operating_system: netbsd
            version: '10.1'
            pkginstall: sudo pkgin update && sudo pkgin -y install clang gmake
          - operating_system: openbsd
            version: '7.8'
            pkginstall: sudo pkg_add -u && sudo pkg_add gmake

    steps:
      - uses: actions/checkout@v4

      - uses: cross-platform-actions/action@v0.30.0
        with:
          operating_system: ${{ matrix.operating_system }}
          architecture: ${{ matrix.architecture }}
          version: ${{ matrix.version }}
          run: |
            ${{ matrix.pkginstall }}
            gmake CC=cc
