name: BSD, Haiku, OmniOS CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        operating_system: [ freebsd, haiku, netbsd, omnios, openbsd ]
        architecture: [ arm64, x86-64 ]
        include:
          - operating_system: freebsd
            version: '15.0'
            pkginstall: sudo pkg update && sudo pkg install -y check gmake && export MAKE=gmake
          - operating_system: haiku
            version: 'r1beta5'
            pkginstall: pkgman refresh && pkgman install -y check_devel
          - operating_system: netbsd
            version: '10.1'
            pkginstall: sudo pkgin update && sudo pkgin -y install check clang gmake && export MAKE=gmake
          - operating_system: omnios
            version: 'r151056'
            pkginstall: sudo pkg refresh && sudo pkg install build-essential && export MAKE=gmake
          - operating_system: openbsd
            version: '7.8'
            pkginstall: sudo pkg_add -u && sudo pkg_add check gmake && export MAKE=gmake
        exclude:
          - operating_system: haiku
            architecture: arm64
          - operating_system: omnios
            architecture: arm64
    steps:
      - uses: actions/checkout@v6
      - uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: ${{ matrix.operating_system }}
          architecture: ${{ matrix.architecture }}
          version: ${{ matrix.version }}
          run: |
            ${{ matrix.pkginstall }}
            if [ "${{ matrix.operating_system }}" = "omnios" ]; then
                ${MAKE:-make}
            else
                ${MAKE:-make} CC=cc
                ${MAKE:-make} clean
                ${MAKE:-make} CC=cc units UNITS=1
                ./test/units.sh
            fi
